{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>已完成事項</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock %}

{% block content %}
<h1>Completed</h1>
<ul>
    {% for todo in todos %}
    <li>
        {% if todo.important %}
        <span style="color:red">(重要)</span>
        {% endif %}
        <small>{{todo.date_complated}}</small>
        ---><a href="{% url 'viewtodo' todo.id %}">
            {{todo.title}}
        </a><br>
    </li><br>
    {% endfor %}
</ul>
{% endblock %}