{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>已完成事項</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/todo.css' %}">
{% endblock %}

{% block content %}
<br>
<section class="hero is-warning is-fullheight">
    <ul>
        <div class="title is-4"> Completed...</div>
        {% for todo in todos %}
        <li class="is-top">
            {% if todo.important %}
            <span style="color:red">(重要)</span>
            {% endif %}
            <small>{{todo.date_complated}}</small><br>
            ---><a href="{% url 'viewtodo' todo.id %}">
                {{todo.title}}
            </a><br>
            <div id="image">
                {% if todo.image %}
                <img src="{{todo.image.url}}" alt="">
                {% else %}
                <img src="{% static 'media/default.bmp' %}" alt="">
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}