{% extends 'base.html' %}

{% block title %}
<title>建立代辦事項</title>
{% endblock %}

{% block content %}
<br>
<section class="hero is-warning is-smallheight">
    <div class="hero-body">
        <div class="container">
            <!-- <div class="columns is-centered">
                <div class="column is-6"> -->
            <div class="title"> CreateTodo...</div>
            <form action="" method="POST" class="box" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">建立</button>
            </form>
            <!-- </div>
            </div> -->
        </div>
    </div>
</section>
{% endblock %}